---
layout: page
title: Landon Marchant CS 376, Fall 2018
subtitle: Personal Portfolio for Human-Computer Interaction
---

  <p>This is home to individual assignemnts for CS376, Human Computer Interaction. For our group project, a muse-tech application designed to support curators, see <a href="https://londonmeanswild.github.io/museum-experience/_"> target="_blank" heART: connecting curators to what really matters. </a> </p>

  <p> My research, coding projects, published writing, and other academic or professional work can be found  <a href="https://londonmeanswild.github.io/" target="_blank"> on my personal portfolio site. </a> </p>


  <p>Below are the individual assignemnts from CS376: my personal design manifesto, a good/bad design assessment, research paper summary, and individual project proposal.</p>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">Read More</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
